.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.mail-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
}

.tel-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}
